@font-face {
    font-family: 'Big Shoulders Display';
    src: url(../../assets/fonts/BigShouldersDisplay-Bold.woff) format('woff');
    src: url(../../assets/fonts/BigShouldersDisplay-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Lexend Deca Regular';
    src: url(../../assets/fonts/LexendDeca-Regular.woff) format('woff');
    src: url(../../assets/fonts/LexendDeca-Regular.woff2) format('woff2');
}